<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TweetWall</title>
  <meta name="description" content="TweetWall">
  <meta name="author" content="Jakub Reczko">
  <meta name="keywords" content="tweet wall">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="robots" content="noindex, nofollow">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
  {% if process.env.NODE_ENV === 'production' %}
  <link rel="stylesheet" href="/styles.css"/>
  {% endif %}
</head>
<body>
<div id="TweetWall"></div>

{% if process.env.NODE_ENV === 'production' %}
<script src="/scripts.js"></script>
{% else %}
<script src="http://{{config.webpack.host}}:{{config.webpack.port}}/public/scripts.js"></script>
{% endif %}
</body>
</html>
