// _header.scss
@import "settings";

.main-header {
  position: relative;
  background-color: $blue-4;
  height: 100%;
  color: $white;
  width: 100%;
  padding: 20px 40px;

  .header-logo {
    position: absolute;
    display: inline-block;
    transform: rotate(-10deg);
    z-index: 1;
    width: 60px;
    margin: 0;
    padding: 0;
    left: 30px;
    top: 10px;

    img {
      max-width: 100%;
    }
  }

  .header-title,
  .header-subtitle,
  .header-hashtags {
    position: relative;
    display: block;
    z-index: 1;
  }

  .header-title-group {
    float: left;
    margin-left: 50px;

    .header-title,
    .header-subtitle {
      margin: 0;
    }

    .header-title {
      font-size: 60px;
      line-height: 50px;
    }

    .header-subtitle {
      font-weight: normal;
      font-style: italic;
      margin-left: 10px;
    }
  }

  .header-hashtags {
    right: 30px;
    position: absolute;
    bottom: 20px;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    max-width: 60%;
    text-align: right;
  }
}
