// main.scss
@import "settings";
@import "header";
@import "footer";
@import "main_content";
@import "tweets_tiles";
@import "leads_tiles";

html {
  padding: 24px 39px 0 39px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

body {
  position: relative;
  @extend .open-sans
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.main-error {
  width: 300px;
  position: absolute;
  z-index: 3;
  background-color: red;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: #FFF;
  font-weight: bold;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
}
