// main.scss
@import "settings";
@import "header";
@import "footer";
@import "main_content";
@import "tweets_tiles";
@import "leads_tiles";

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

body {
  @extend .open-sans
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
